<html>
<head>
  <title>Shortly</title>
  <script src="lib/angular.min.js"></script>
  <script src="lib/bower_components/momentjs/moment.js"></script>
  <script src="lib/bootstrap-gh-pages/ui-bootstrap-tpls-0.6.0.min.js"></script>
  <script src="/client/app.js"></script>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body ng-app="Shortly">
  <div class="navigation">
    <ul>
      <li><a ng-href="/" class="index">All Links</a></li>
      <li><a ng-href="/create" class="create">Shorten</a></li>
    </ul>
  </div>
  <div id="container" ng-view>
  </div>
</body>
</html>